n8n/workflows/low-stock-alert.json
{
  "name": "Low Stock Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "={{$env.WC_URL}}/wp-json/wc/v3/products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "per_page", "value": "100" },
            { "name": "stock_status", "value": "instock" },
            { "name": "status", "value": "publish" }
          ]
        },
        "options": {}
      },
      "name": "Get All Products",
      "type": "n8n-nodes-base.httpRequest",
      "position": [460, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [
            {
              "value1": "={{ $json.stock_quantity }}",
              "operation": "smallerEqual",
              "value2": 3
            }
          ]
        }
      },
      "name": "Filter Low Stock",
      "type": "n8n-nodes-base.filter",
      "position": [680, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "alerts@boomwarehouse.com",
        "toEmail": "={{$env.ALERT_EMAIL}}",
        "subject": "⚠️ Low Stock Alert — Boom Warehouse",
        "text": "=The following products are running low:\n\n{{ $json.all.map(item => `• ${item.json.name} (SKU: ${item.json.sku}) — ${item.json.stock_quantity} left`).join('\\n') }}\n\nReview inventory: {{$env.WC_URL}}/wp-admin/admin.php?page=atum-stock-central",
        "options": {}
      },
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "position": [900, 300],
      "typeVersion": 2.1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Get All Products", "type": "main", "index": 0 }]
      ]
    },
    "Get All Products": {
      "main": [
        [{ "node": "Filter Low Stock", "type": "main", "index": 0 }]
      ]
    },
    "Filter Low Stock": {
      "main": [
        [{ "node": "Send Email Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
